# Adjust this file for storing private and user specific environment variables, like keys or system paths.
# rename it to ".env" (excluded from version control by default)

PROJECT_ROOT="path/to/aether/"  # path to your local aether repo
TRAINER_PROFILE="gpu" # cpu/gpu/mps/ddp

#----------------------------
# OPTIONALS
#----------------------------
HF_HOME="${PROJECT_ROOT}/.cache/huggingface/" # set or will default to './.cache/huggingface/'
DATA_DIR="${PROJECT_ROOT}/data/"  # set to your local data folder (for aether), or will default to '${PROJECT_ROOT}/data/'

# Working directories
# STORAGE_MODE=# or "shared"
# SHARED_CACHE=# or "/path/to/shared/.cache"
# SHARED_ROOT=# or "/path/to/shared/project"

LOGGER="none" # none/wandb/comet...

#----------------------------
# API KEYS (OPTIONAL)
#----------------------------
# GEE_API="your-gee-api-key"
